.bar
  display inline-block
  background #DBB98E
.addButton
  float right
  padding 5px
  border-radius 5px
  border 1px solid rgba(0,0,0,.1)
  margin 5px
  background-image linear-gradient(top, #af8f67 0%, #a3845e 100%)
  cursor pointer
.CONDIMENT
  background green
.DRINK
  background yellow