.regularText
  width: 117px
  display inline-block
  margin 2px
  padding 1px
.label
  float left
  height 20px
.input
  float right
  height 20px
.deleteButton
  margin 20px
  padding:5px 15px;
  background-image linear-gradient(top, #E20D15 0%, #BE4B4B 100%)
  cursor:pointer;


