#shelf
  margin:100px 0;


#shelf ul
  margin: 23px 0;
  padding: 0;
  height: 19px;
  border-bottom: 8px solid #A3845E;
  background-color: #AF8F67
  float: left;


#shelf ul:before
  border-right: 38px solid #AF8F67
  border-top: 18px solid #DBB98E
  content: "";
  float: left;
  margin: 0;
  width: 0;


#shelf ul:after
  border-left: 38px solid #AF8F67
  border-top: 18px solid #DBB98E
  content: "";
  float: right;
  margin: 0;
  width: 0;


#shelf li
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid;
  float: left;
  list-style: none outside none;
  margin: -27px 10px 0;
  padding: 3px;
  position: relative;
  text-align: center;
  min-width: 129px


#shelf a
  padding: 7px;
  display: block;
  text-decoration: none;
  background: #555;
  color: #fff;

@import "bar"
@import "drink"
